<div class="width">15</div>
<div class="height">10</div>
<div class="input"><div>1</div><div>1</div><div>0</div><div>0</div></div>
<div class="input"><div>1</div><div>0</div><div>1</div><div>0</div></div>
<%# <div class="output"><div>1</div><div>0</div><div>1</div><div>1</div></div> %>
<div class="output"><div>1</div><div>1</div><div>0</div><div>1</div></div>
<div class="pieces"><div>1</div><div>1</div><div>2</div><div>2</div><div>3</div><div>3</div><div>2</div><div>1</div></div>
