<h1>Users</h1>

<% for user in @users %>
	<paper-card>
		<div class="card-content">
			<h3><%= link_to user.name, user %></h3>
			<div><%= mail_to user.email, user.email %></div>
		</div>
		<div class="card-actions">
			<div class="horizontal justified">
				<%= link_to user do %>
					<paper-icon-button icon="info"></paper-icon-button>
				<% end %>
			</div>
		</div>
	</paper-card>
<% end %>
