<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @user.email, @user.email %>
</p>

<% for level in @user.levels %>
	<%= render partial: 'levels/level', locals: { level: level } %>
<% end %>


