<!-- File for polymer component styling -->
<link rel="import" href="/components/paper-styles/paper-styles.html">
<style is="custom-style">
paper-button[raised] {
    color: white;
    margin: 10px;
    background: var(--paper-blue-500);
    white-space: nowrap;
}


    app-header.main {
        color: #fff;
        background-color: var(--paper-blue-500);
    }

    app-toolbar {
        height: 120px;
    }

    [condensed-title] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('//app-layout-assets.appspot.com/assets/pesto/logo_m.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90px;

        /* The difference in font size is used to calculate the scale of the title in the transition. */
        font-size: 16px;
    }

    [main-title] {
        position: absolute;
        top: -120px;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('//app-layout-assets.appspot.com/assets/pesto/logo_l.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 240px;
        -webkit-transform-origin: center top !important;
        transform-origin: center top !important;

        /* The difference in font size is used to calculate the scale of the title in the transition. */
        font-size: 32px;
    }

    .content {
        display: block;
        position: relative;
        max-width: 1000px;
        margin: 5px auto;
    }

    .card-container {
        display: inline-block;
        width: 33.33%;
        color: black;
        text-decoration: none;
    }

    paper-card {
        display: block;
        margin: 5px;

        --paper-card-header-image: {
            height: 200px;
        }
    }

    paper-card h2 {
        margin: 4px;
        font-weight: normal;
    }

    paper-card p {
        margin: 4px;
        color: #999;
    }

    @media (max-width: 960px) {
        .content {
            max-width: 800px;
        }

        .card-container {
            width: 50%;
        }
    }

    @media (max-width: 719px) {
        app-toolbar {
            height: 60px;
        }

        [condensed-title] {
            background-image: url('//app-layout-assets.appspot.com/assets/pesto/logo_s.png');
            background-size: 60px;
        }

        [main-title] {
            top: -60px;
            background-image: url('//app-layout-assets.appspot.com/assets/pesto/logo_m.png');
            background-size: 90px;
        }

        .content {
            max-width: 400px;
        }

        .card-container {
            width: 100%;
        }
    }

    .avatar-container {
        position: relative;
        border: 2px solid var(--paper-blue-900);
        border-radius: 50%;
        height: 90px;
        padding: 2px;
        width: 90px;
        margin: 20px auto;
    }

    .avatar-container .image {
        background-image: url('https://lh3.googleusercontent.com/-EydON387M9c/AAAAAAAAAAI/AAAAAAAAAAA/AEMOYSDRFyvz7dT0x5KngrOdfBZk2U07gQ/s512-c-mo/photo.jpg');
        background-size: contain;
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }

    .contact-info {
        margin: 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #CCC;
        text-align: center;
    }

    .contact-info .name {
        font-weight: bold;
    }

    .contact-info .email {
        color: #999;
    }

    paper-item {
        @apply(--layout-center-center);
        height: 54px;
    }

    paper-icon-button {
        --paper-icon-button-ink-color: white;
    }

</style>
