<h1>
	<%= link_to :back do %>
		<paper-icon-button icon="arrow-back"></paper-icon-button>
	<% end %>
	Editing Level
</h1>

<%= render 'form', level: @level %>

<%= link_to 'Show', @level %> |
<%= link_to 'Back', levels_path %>
