<h1>Levels</h1>

<% for level in @levels %>
	<%= render partial: 'levels/level', locals: { level: level } %>
<% end %>

<%= link_to new_level_path, class: "add-fab" do %>
	<paper-fab icon="add"></paper-fab>
<% end %>
