<link rel="import" href="/components/paper-icon-button/paper-icon-button.html">
<h1>
    <%= link_to levels_path do %>
        <paper-icon-button icon="arrow-back"></paper-icon-button>
    <% end %>
    New Level
</h1>

<%= render 'form', level: @level %>

