body {
	margin: 0;
	font-family: 'Roboto', 'Noto', sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background: #eee;
}

* {
	outline: none;
}

a {
	text-decoration: none;
	&:hover {
		color: #2962FF;
	}
	&, &:visited {
		color: #2979FF;
	}
	&.secondary {
		&:hover {
			color: #E65100;
		}
		&, &:visited {
			color: #F57C00;
		}
	}
}

.add-fab {
	position: fixed;
	display: inline-block;
	right: 2em;
	bottom: 2em;
}

footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 1em;
}

