* {
    margin: 0;
}

body {
    overflow: hidden;
    background: #111;
}

#game_board {
    display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#test {
    position: absolute;
    bottom: 15px;
    right: 15px;
    // z-index: 1;
    // font-size: 2em;
    // background-color: white;
    // color: black;
}

#menu-toggle {
    color: white;
    --paper-icon-button-ink-color: white;
    margin: 10px;
}

