<!-- nav panel -->
<app-header-layout id="drawer" has-scrolling-region>
    <app-header fixed>
        <div class="avatar-container">
            <div class="image"></div>
        </div>
        <div class="contact-info">
            <div class="name">Brandon</div>
            <div class="email">skyguy913@gmail.com</div>
        </div>
    </app-header>
    <!-- nav menu -->
    <paper-listbox>
        <paper-item>Home</paper-item>
        <paper-item>Levels</paper-item>
        <paper-item>Profile</paper-item>
    </paper-listbox>
</app-header-layout>
